apiVersion: apps/v1
kind: Deployment
metadata:
  name: metube
  namespace: media
  labels:
    app: metube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metube
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: metube
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1" # Fix potential DNS resolution issues with external domains (avoiding search domain overhead)
      initContainers:
        - name: create-dirs
          image: busybox
          command: ['sh', '-c', 'mkdir -p /media/metube_dl /media/metube_music && chown -R 1000:1000 /media']
          volumeMounts:
            - name: media
              mountPath: /media
      containers:
        - name: metube
          image: ghcr.io/alexta69/metube:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: UID
              value: "1000"
            - name: GID
              value: "1000"
            - name: DOWNLOAD_DIR
              value: "/media/metube_dl"
            - name: AUDIO_DOWNLOAD_DIR
              value: "/media/metube_music"
            - name: STATE_DIR
              value: "/data"
          ports:
            - name: http
              containerPort: 8081
          volumeMounts:
            - name: media
              mountPath: /media
            - name: state
              mountPath: /data
          resources:
            requests:
              memory: "100Mi"
              cpu: "50m"
            limits:
              memory: "512Mi"
              cpu: "1000m"
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: media-data
        - name: state
          persistentVolumeClaim:
            claimName: metube-state
