server:
  # env:
  #   - name: POCKET_ARGOCD_CLIENT_ID
  #     valueFrom:
  #       secretKeyRef:
  #         name: auth-secrets
  #         key: pocket-argocd-client-id
  #   - name: POCKET_ARGOCD_CLIENT_SECRET
  #     valueFrom:
  #       secretKeyRef:
  #         name: auth-secrets
  #         key: pocket-argocd-client-secret
  ingress:
    enabled: true
    hostname: argocd.valab.top
    ingressClassName: traefik
    tls: false
    annotations:
      traefik.ingress.kubernetes.io/max-body-size: "128Mi"
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: "GitOps Deployment"
      gethomepage.dev/group: "Admin"
      gethomepage.dev/icon: "si-argocd"
      gethomepage.dev/name: "ArgoCD"
      gethomepage.dev/widget.type: "argocd"
      gethomepage.dev/widget.url: "http://argocd-server.argocd.svc.cluster.local"
      # gethomepage.dev/widget.key: "API_KEY" # A définir si on veut le widget
      # cert-manager.io/cluster-issuer: letsencrypt
  certificate:
    enabled: false
    # issuer: 
    #   kind: ClusterIssuer
    #   name: letsencrypt
    # domain: argocd.hk.cagou.ovh
  # certificateSecret:
  #   enabled: true

global:
  domain: argocd.valab.top

configs:
  params:
    server.insecure: true
  cm:
    kustomize.buildOptions: "--enable-helm"
    # fix du problème "Progressing" des Ingress dans ArgoCD quand on a pas de loadbalancer cf TROUBLESHOOTING.md
    resource.customizations: |
      networking.k8s.io/Ingress:
        health.lua: |
          hs = {}
          hs.status = "Healthy"
          hs.message = "Ingress is healthy (ignored loadBalancer status)"
          return hs
    oidc.config: |
      name: PocketID
      issuer: https://auth-id.valab.top
      clientID: $auth-secrets:pocket-argocd-client-id
      clientSecret: $auth-secrets:pocket-argocd-client-secret
      requestedScopes: ["openid", "profile", "email", "groups"]
  rbac:
    policy.csv: |
      g, abugeia@gmail.com, role:admin
    scopes: "[groups, email]"
