server:
  ingress:
    enabled: true
    hostname: argocd.valab.top
    ingressClassName: traefik
    tls: false
    annotations:
      traefik.ingress.kubernetes.io/max-body-size: "128Mi"
      # cert-manager.io/cluster-issuer: letsencrypt
  certificate:
    enabled: false
    # issuer: 
    #   kind: ClusterIssuer
    #   name: letsencrypt
    # domain: argocd.hk.cagou.ovh
  # certificateSecret:
  #   enabled: true

global:
  domain: argocd.valab.top

configs:
  params:
    server.insecure: true
  cm:
    kustomize.buildOptions: "--enable-helm"
