# Configuration officielle du chart Traefik (Simplifiée via cert-manager)
# Référence: https://github.com/traefik/traefik-helm-chart

additionalArguments:
  # Permet aux Ingress d'autres namespaces d'être vus par Traefik
  - "--providers.kubernetescrd.allowCrossNamespace=true"

deployment:
  podAnnotations:
    prometheus.io/port: "8082"
    prometheus.io/scrape: "true"
  priorityClassName: "system-cluster-critical"

tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

providers:
  kubernetesIngress:
    publishedService:
      enabled: true

logs:
  access:
    enabled: true

# PERSISTANCE : Désactivée car les certifs sont dans des Secrets K8s (cert-manager)
persistence:
  enabled: false

ports:
  web:
    forwardedHeaders:
      insecure: true
  websecure:
    tls:
      enabled: true
    forwardedHeaders:
      insecure: true

service:
  spec:
    externalTrafficPolicy: Local
  annotations:
    metallb.io/load-balancer-ip: 10.0.0.101
